* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: solid 1px red; */
}

body {
    font-family: Helvetica, sans-serif;
}

/* header */

.header {
    background-color: #fff;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.header__top-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 15px 15px 15px;
}

.menu-search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__search-section {
    display: none;
    
}

.s-input {
    display: none;
}

.header__logo-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__logo-icon a {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: #0a86f0;
}

.header__bottom-row {
    display: flex;
    justify-content: space-between;
   
    padding: 0 25px 10px 25px;
    border-bottom: 1px solid #e0e2e8;
    font-size: 1.3rem;
}

.header__bottom-row img {
    width: 25px;
    height: 25px;
}

.bottom-row-home {
    color: #0a86f0;
}

.header__social-section {
    display: flex;
    align-items: center;
    gap: 10px;
    display: none;
}

.header__social-picture-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}

.header__social-picture-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.add-content i {
    font-size: 1.3rem;
    background-color: #e0e2e8;
    border-radius: 50%;
    padding: 5px;
}

.search-icon1 i{
    font-size: 1.3rem;
    background-color: #e0e2e8;
    border-radius: 50%;
    padding: 5px;
}

.messenger-icon i{
    font-size: 1.3rem;
    background-color: #e0e2e8;
    border-radius: 50%;
    padding: 5px;
}

.down-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.6rem;
    padding:2px;
    background-color: #e0e2e8;
    border-radius: 50%;
}

.header__social-messenger-icon {
    padding: 10px;
    background-color: #eef0f3;
    border-radius: 50%;
    font-size: 1.1rem;
}

.header__social-notification-icon {
    padding: 10px;
    background-color: #eef0f3;
    border-radius: 50%;
    font-size: 1.1rem;
}



/*side-nav*/
.aside__nav {
   
    width: 55px;
    padding-top: 20px;
    display: none;
}

.aside__nav-section {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0 5px;
 
}

.aside__nav-section > div {
    
    /* padding: 8px; */
    margin-bottom: 5px;
    border-radius: 25%;
}

.hr {
   background-color: #606770;
    width: 100%;
    height: 0.5px;
}

.aside__nav-home {
    padding: 8px 10px;
}

.aside__nav-section p {
    display: none;
}

.aside__nav-name {
    padding: 8px;
    
}

.aside__nav-name img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.aside__nav-watch, .aside__nav-marketplace, .aside__nav-gaming {
    padding: 8px 10px;
}

.see-all {

    padding: 8px 14px;
}



.aside__nav-group1, .aside__nav-group2, .aside__nav-group3 {
    padding: 8px;
}

.aside__nav-group1 img, .aside__nav-group2 img, .aside__nav-group3 img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 25%;
}

.aside__nav-group-icon {
    padding: 8px 10px;
}

.aside__nav-game1, .aside__nav-game2, .aside__nav-game3, .aside__nav-game4, .aside__nav-game5 {
    padding: 8px;
}

.aside__nav-game1 img, .aside__nav-game2 img, .aside__nav-game3 img, .aside__nav-game4 img, .aside__nav-game5 img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 25%;
}

.shortcuts {
    padding: 8px 10px;
}

.main {
    display: flex;
    width: 100%;
}

.container {
    width: min(100%, 600px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.titles {
    display: none;
    display: flex;
    justify-content: center;
    gap: 5px;
    
}

.container__new-post {
    order: 1;
}

.story-reel {
    order: 2;
}

.container__feed-post-1 {
    order: 3;
}

.input-type {
    display: none;
}

.container__new-post-input {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 15px 10px;
}

.new-post-input-field input{
    font-size: 1rem;
    border-radius: 25px;
    border: 0;
    padding: 10px 15px;
    width: 250px;
    border: 1px solid #eef0f3;
}

/* .new-post-profile-picture {
    width: 40px;
    height: 40px;
    /* border-radius: 50%; }*/

.new-post-profile-picture img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.new-post-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    
}

.new-post-photo i {
    color: #3db557;
}

.new-post-photo p {
    font-size: 0.8rem;
}

.new-post-photo i {
    font-size: 1.5rem;
}
.story-header, .reel-header {
    display: none;
    
    
}

.stories {
    display: flex;
    gap: 8px;
    border-top: 10px solid #e0e2e8;
    border-bottom: 10px solid #e0e2e8;
    padding: 12px 0 12px 8px;
}

.stories > div {
    width: 33%;
    height: 175px;
    border-radius: 15px;
    position: relative;
}

.add-to-story {
    text-align: center;
    padding-bottom: 10px;
    background-color: #fff;
    border: 1px solid #e0e2e8;
}

.verb {
   
    margin-top: 20px;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 42px;
}

.story-name {
    position: absolute;
    bottom: 10px;
    color: #fff;
    font-size: 0.8rem;
    left: 10px;
    width: 50%;
}

.profile-image {
    width: 100%;
    height: 65%;
}

.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.circle {
    position: absolute;
    left: 35%;
    bottom: 29%;
    color: #0a86f0;
    padding: 3px;
    background-color: white;
    border-radius: 50%;
}

.circle i {
    font-size: 1.8rem;
    text-align: center;
}

.image {
    width: 100%;
    height: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.small-circle {
    display: none;
}

.right-arrow {
    display: none;
}

.third {
    display: none;
}

.fourth {
    display: none;
}

.poster-picture {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.poster-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.feed-post-1-header {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 10px;
}

.name {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 2px;
}
.name i {
    color: #0a86f0;
}

.name p {
    font-weight: bold;
}

.time-visibility {
    display: flex;
    gap: 10px;
    font-size: 0.8rem;
    align-items: center;
}
.cross {
    display: none;
}

.name-time-visibility {
    margin-left: 10px;
}

.ellipsis {
    position: absolute;
    right: 0;
    top: 3px;
    font-size: 1.3rem;
}

.information {
    margin: 0 20px 10px 15px;
}

.post-1-image {
    width: 100%;
    height: 300px;
}

.post-1-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.website {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
}

.article-short {
    padding: 15px 15px;
    background-color: #eef0f3;
    border-bottom: 1px solid #e0e2e8;
}

.reaction {
    display: flex;
    margin: 0 15px;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e2e8;
    color: white;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.choice {
    display: flex;
    gap: 8px;
}

.thumbs-up {
    background-color: #0a86f0;
    padding: 3px;
    border-radius: 50%;
    font-size: 0.8rem;
}

.heart {
    background-color: #ee2340;
    padding: 3px;
    border-radius: 50%;
    font-size: 0.8rem;
}

.reaction p {
    margin-left: 5px;
    color: black;
}

.aside__contacts {
    display: none;
}

@media screen and (min-width: 450px) {
    .main {
        background-color: #eef0f3;
        justify-content: space-between;
    }
    .header__bottom-row {
        display: none;
    }
    .header__top-row {
        padding: 0;
    }
    .header__search-section {
        display: block;
    }
    .search-input input{
        display: none;
    }
    .search-icon2 i {
        font-size: 1rem;
        border-radius: 50%;
        background-color: #eef0f3;
        padding: 10px;
    }
    .search-icon2 i:hover {
        background-color: #e0e2e8;
        cursor: pointer;
    }
    .menu-search {
        display: none;
    }
    .header__social-section {
        display: block;
        display: flex;
        
    }
    
    .header__social-section > div:hover {
        cursor: pointer;
    }
    .header__social-messenger-icon:hover, .header__social-notification-icon:hover {
       background-color: #e0e2e8;
    }
    .header {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-bottom: 1px solid #e0e2e8;
    }
    .header__logo-icon {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .aside__nav {
        display: block;
        background-color: #fff;
    }

    .aside__nav-section > div:hover {
        background-color: #e0e2e8;
        cursor: pointer;
    }
    
    .aside__nav i {
        color: #0a86f0;
    }
    .see-all i{
        color: black;
        
    }
    .aside__nav-group-icon i{
        color: black;
    }
    .shortcuts i {
        color: black;
    }
    .story-reel {
        order: 1;
        border-radius: 20px;
        border: 1px solid #e0e2e8;
        background-color: white;
        margin-bottom: 15px;
        
    }
    .stories {
        border: none;
        max-width: 100%;
    }
    .stories > div {
        width: 30%;
        height: 200px;
    }
    .titles {
        display: block;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px 15px;
        border-bottom: 1px solid #e0e2e8;
    }
    .story-header, .reel-header {
       display: flex;
      
       
       padding: 15px 60px;
       gap: 10px;
       align-items: center;
    }
    .story-header {
        color: #0a86f0;
    }
    .story-header:hover {
        cursor: pointer;
        background-color: #e0e2e8;
        border-radius: 5px;
    }

    .fourth {
        display: none;
    }
    .reel-header:hover {
        cursor: pointer;
        background-color: #e0e2e8;
        border-radius: 5px;
    }

    .titles i {
        font-size: 1.3rem;
    }
    .container {
        margin-top: 20px;
        background-color: #eef0f3;
        
    }
    .small-circle {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .small-circle img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        padding: 5px;
        background-color: #0a86f0;
    }
    .add-to-story {
        background-color: #fff;
        border: 1px solid #e0e2e8;
    }
    .container__new-post {
        border-radius: 10px;
        border: 1px solid #e0e2e8;
        background-color: white;
        margin-bottom: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .new-post-photo {
        display: none;
    }
    .container__new-post-input {
        justify-content: flex-start;
        border-bottom: 1px solid #e0e2e8;
        padding-bottom: 10px; 
        margin: 0 15px;
        gap: 5px;
        align-items: center; 
    }
    .new-post-input-field {
        width: 100%;
    }
    .new-post-input-field input {
        width: 100%;
        background-color: #eef0f3;
        border: none;
        outline: none;
    }

    .new-post-input-field input:hover {
        cursor: pointer;
        background-color: #e0e2e8;
    }

    .container__feed-post-1 {
        border-radius: 15px;
        border: 1px solid #e0e2e8;
        background-color: #fff;
    }
    .article-short {
        background-color: #eef0f3;
    }
    .input-type {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        
        padding: 5px 15px 0 15px
        
    }
    .type {
        padding: 10px 50px;
       
        display: flex;
        align-items: center;
        gap: 8px;
        /* font-size: 0.8rem; */
    }

    .type:hover {
        cursor: pointer;
        background: 5px;
        background-color: #eef0f3;
        border-radius: 5px;
    }

    .type i {
        font-size: 1.5rem;
    }

    .type p{
        font-size: 0.8rem;
    }

    .type:nth-of-type(1) i{
        color: #ee2340;
    }
    .type:nth-of-type(2) i {
        color: #3db557;
    }
    .type:nth-of-type(3) {
        display: none;
    }
    
    .actions {
        margin: 5px 15px 10px 15px;
    }
    .choice:hover {
        background-color: #eef0f3;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media screen and (min-width: 500px){
    
    .third {
        display: block;
    }
    .stories {
        padding-right: 5px; 
    }

    .input-type {
        justify-content: space-around;
    }
    .type {
        padding: 10px 20px;
    }

    /* .type p {
        font-size: 0.9rem;
    } */

    /* .type i{
        font-size: 1.5rem;
    } */

    /* .type:nth-of-type(1) {
        padding: 10px 21px 10px 20px;
    } */
    
    .type:nth-of-type(3) {
        display: block;
        display: flex;
        
    }
    .type:nth-of-type(3) i {
        color: #f6b023;
    }
    .choice {
        padding: 10px 35px;
    }
}

@media screen and (min-width:600px){
    .story-header, .reel-header {
        padding: 15px 95px;
    }
    .stories > div {
        width: 20%;
    }
    .type {
        padding: 10px 40px;
    }
    .choice {
        padding: 10px 45px;
    }
}

@media screen and (min-width: 900px){
    .header {
        justify-content: space-between;
    }.header__top-row {
        width: 125px
    }
    .header__search-section {
        display: none;
    }
    .s-input {
        display: flex;
        position: relative;
        width: min(50%, 600px);
        color: #606770;
        /* position: absolute;
        left: 500px;
        width: 600px;
        background-color: antiquewhite; */
    }
    .s-input input {
        width: 100%;
        padding: 10px 0 10px 35px;
        border-radius: 25px;
        outline: none;
        border: none;
        background-color: #eef0f3;
        
    }
    .s-input input:hover {
        background-color: #e0e2e8;
    }

    .search-icon3 {
        position: absolute;
        top:9px;
        left:12px;
    }
    
    .fourth {
        display: block;
    }

    .aside__contacts {
        display: block;
        width: min(25%, 300px);
        margin-top: 25px;
        background-color: #eef0f3;
    }
    .aside__contacts-list > div {
        margin-bottom: 8px;
        opacity: 0.5;
        padding: 8px;
    }
    .aside__contacts-list > div:hover {
        background-color: #e0e2e8;
        cursor: pointer;
        border-radius: 5px;
    }
    .aside__contacts-list-name {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .aside__contacts-header {
        display: flex;
        justify-content: space-between;
        margin: 25px 0 15px 0;
        align-items: center;
    }
    .aside__contacts-sponsored, .aside__contacts-header-title {
        font-size: 1.1rem;
        font-weight: bold;
        margin-left: 8px;
    }
    .aside__contacts-header-icons{
        display: flex;
        gap: 10px;
        margin-right: 15px;

    }
    .aside__contacts-header-icons i {
        padding: 8px;
        border-radius: 50%;
    }

    .aside__contacts-header-icons i:hover {
        background-color: #e0e2e8;
        cursor: pointer;
    }

    .aside__contacts-list-name img {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        object-fit: cover;
    }
    .choice {
        padding: 10px 55px;
    }

}

@media screen and (min-width: 1150px){
    .aside__nav {
       background-color: #eef0f3;
        width: 291px;
    }
    .aside__nav-section {
        align-items: flex-start;
        margin: 0 0 0 15px;
        
    }
    .aside__nav-section p {
        display: block;
    }
    .aside__nav-section > div {
        display: flex;
        border-radius: 5px;
        align-items: center;
        gap: 15px;
        width: 100%;
    }
    .aside__nav-name p{
        margin-left: -5px;
    }
    .aside__nav-gaming p {
        margin-left: -2px;
    }
    .see-all p{
        margin-left: 5px;
    }
    .aside__nav-group1 p, .aside__nav-group2 p, .aside__nav-group3 p {
        margin-left: -4px;
    }
    .aside__nav-group-icon p {
        margin-left: -2px;
    }
    .aside__nav-game1 p, .aside__nav-game2 p, .aside__nav-game3 p, .aside__nav-game4 p, .aside__nav-game5 p {
        margin-left: -4px;
    }
}
